[2014-12-12 12:32] yvaucher opened #14 "Master to replace by 8.0"

[2015-01-09 10:17] rdeheele opened #15 "[7.0] error at refund creation"
_Current behavior:_
Create an invoice with a partner A and one invoice line with a product X.
Create a rma claim, select the partner A, select the invoice in "product return" tab.
It autofills a line below.
Edit the rma, add a line that is not present in the invoice.
Pass the rma in "in progress" state.
Click on the "New Refund" button.
A pop-up appears, click on "Create Refund" red button.
A trac

[2015-01-30 10:09] yvaucher commented on #14
cc @jgrandguillaume @elicoidal @StefanRijnhart @max3903 @nhomar @sebastienbeau @gurneyalex

[2015-02-02 10:18] StefanRijnhart commented on #14
Do you want me to rename master or push a fresh copy of the 7.0 branch to 8.0 with the new modules moved to **unported**?

[2015-02-02 10:38] yvaucher commented on #14
The only 3 commits done in master are there to move modules to `__unported__` and master misses 37 commits from 7.0. I thinks it's a good idea to start a fresh one from 7.0

[2015-02-02 11:10] StefanRijnhart commented on #14
Done!

close

[2015-02-02 11:11] StefanRijnhart commented on #14
Anyone know how to close issues with a directive in an email reply, BTW?

[2015-02-02 11:11] #14 closed

[2015-04-21 08:35] mistotebe opened #20 "Porting crm_claim_rma to v8"
It seems we will need this module for 8 anyway, so I'm setting up a ticket to track the progress here.

I intend to proceed in several stages with separate pull request for each if you don't mind:
- [x] porting product_warranty (#23)
- [x] splitting crm_claim_number off crm_claim_rma (proposal in #17)
- [x] porting crm_claim_rma itself (#24)

There is one thing I need to know before I start: produ

[2015-04-23 16:18] mistotebe commented on #20
Porting in progress:
- have not touched the copyrights on product_warranty yet, other than that, it is mostly compatible: #23
- rebased crm_claim_number port on top of current 8.0: #17
- started porting crm_claim_rma, but hit a couple of dead ends

I am not sure how to go about picking creation, whether to set up a route+picking type per warehouse and try to use procurements to drive the entire pi

[2015-04-23 18:52] sebastienbeau commented on #20
Hi thanks for the work, regarding the licence as Akretion is one of the original author I am totally agree for moving under AGPL-v3 ! (I have not idea why it's under GPL, pretty sure it's due to a bad copy paste...)
@jgrandguillaume are you ok for moving under AGPL-v3?

[2015-05-12 11:33] mistotebe commented on #20
Porting ~finished, see above for pull requests.

[2015-05-20 14:33] JordiBForgeFlow opened #25 "Supplier RMA"
Hello,

I am testing the RMA process. So far, it looks good to me for customer RMA. But what about the supplier-related RMA process? That is, from company to supplier. There's a claim type = Supplier that supposedly should be used for this sub-process.

However I identified the following issues:
- When the claim is in status "In Progress":
- When the user creates a new Delivery Order to send the p

[2015-07-15 13:12] anhdv1979 opened #28 "Some issues with RMA"
After checking I see some issues and hope that you could help me.
- With return product form:
  - Dest.Location could not load default location such as WH1/Stock. Btw, quantity could not change
  - When "create picking", it could not load claim reporter partner.
    - Stage of RMA Claim could not automatically be changed depending on the delivery or refund.
      I am very appreciated with your he

[2015-07-16 09:26] aignermi opened #29 "[FEATURE] Create Returns via API (Magento)"
Hi guys,

first of all can you give me a status of how far you are with the migration to v8?

Second is there an API to this module to create Returns from external systems? What I have in mind is to create a Return when I create a Credit Memo in Magento. The reason why I want that is first of all to have all returns in Odoo and second to make the corresponding stock booking and have the inventory

[2015-07-30 17:11] nhomar commented on #25
Hello.

Can you take a look on this

https://github.com/OCA/rma/pull/26

We redesign several things in order to have both process, the one you mentioned is in our roadmap also.

Feedback is welcome.

REgards.

[2015-07-31 06:51] JordiBForgeFlow commented on #25
Thanks @nhomar. I will review and provide feedback.

[2015-08-01 08:20] eltjor commented on #20
Hi thanks for putting the effort in to port this module to v8.0. Is there a timeline for when the it will be complete?

[2015-08-01 11:52] mistotebe commented on #20
This module is feature complete and has been successfully deployed in production environments since (hence some improvements made in the past months).

See limitations in the README and consider your procurement/stock routing set-up which has become too powerful in 8.0 for this module to properly interact with for more complex cases (without unduly expanding its scope and size). Also, bear in mind

[2015-08-01 11:56] pedrobaeza commented on #20
Well, this is the third port of the module _crm_claim_rma_, so this is some kind of crazy. Vauxoo, Eezy and you should collaborate to give a unified PR with all the possible enhancements.

[2015-08-01 12:04] mistotebe commented on #20
@pedrobaeza: Wow, there is third now? I was only aware of #26...

When I created this call for help, there has been no response until code has actually been written and proposed for merging. Need to ping @nhomar and maybe we can get some closure.

@nhomar: can you give #24 a go and maybe list the use cases you think yours handles better in #26 or the requirements not handled there that are essenti

[2015-08-01 12:08] pedrobaeza commented on #20
As yours is the oldest, it should be treated as the preferred one, but @nhomar said that they have improved a little all, so maybe you can try a merge of his work in yours. What do you think?

[2015-08-01 12:17] mistotebe commented on #20
I will have to take a look at what is covered and how. Might take a while since I knew very little about RMA processes before I started the port and might not appreciate the other modules' purpose to be able to do a quick review.

[2015-08-01 12:26] pedrobaeza commented on #20
OK, any effort is appreciated. What I want is to solve this in the best possible way.

[2015-08-01 18:43] nhomar commented on #20
~~Hello @mistotebe ~~
~~
~~The issue is that when our customers ask us finance this migration, we didn't know about this comments (sorry my bad I didn't see  it before), then we tried to migrate everythign without touch the actual functionality (between april and may) and some stuff was not approved by customer analiysis.~~
~~
~~At the end we re-do everything on new api (trying to mantain megeable

[2015-09-04 22:05] yaniaular opened #46 "Creation of picking with the New Products Return button and New Delivery button not work with Odoo 8.0"
- Creation of picking with the New Products Return button not work with Odoo 8.0.
- Creation of picking with New Delivery button not work with Odoo 8.0
- Dest. Location field in wizard of New products return button is not automatically filled

Here a video with issues:

http://youtu.be/MFzc1sl4vZ4

[2015-09-05 03:15] yaniaular commented on #46
This issue is resolving here https://github.com/OCA/rma/pull/47

[2015-09-08 15:28] yaniaular commented on #46
@nhomar Can you check the  PR https://github.com/OCA/rma/pull/47 related with this issue https://github.com/OCA/rma/issues/46 to proceed to merge?

[2015-09-08 16:14] yaniaular commented on #46
this issue is resolved in the pr related. Please to review

[2015-09-23 04:47] #46 closed

[2015-09-28 09:30] damdam-s opened #48 "Unicode error"
Unicode error appears when an accent is present in 'name' field:
[code]

[2015-09-28 09:54] damdam-s opened #50 "Error when clicking on "Send a message" or "Log a note""
Steps to reproduce:

* create a claim (rma)
* save it
* click on "Send a message" or "Log a note" links

[code]

[2015-09-28 11:04] #48 closed

[2015-09-28 12:05] #50 closed

[2015-10-14 00:34] pedrobaeza opened #54 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] crm_rma_advance_location
- [x] crm_claim_rma - @cyrilgdn #86
- [ ] crm_rma_lot_mass_return
- [ ] crm_claim_ext
- [ ] crm_rma_by_shop
- [x] product_warranty - Assigned to @cyrilgdn - #81
- [x] crm_rma_location - Assigned to @cyrilgdn - #82
- [ ] crm_rma_stock_location - Assigned to @cyrilgdn - #

[2015-10-27 21:41] osvalr opened #58 "Numbering version in template for readme file"
I suggest to indicate the branch in feedback url as following, having a version in template says to me (IMHO) that is the module version as pointed out in CONTRIBUTING.md in [L25](https://github.com/OCA/maintainer-tools/blame/master/CONTRIBUTING.md#L25) with semantical way. But in fact is the branch that the module actually is.

**Current template**
[code]

**Proposal template:**
[code]

[2015-10-27 23:30] osvalr commented on #58
this was moved to https://github.com/OCA/maintainer-tools/issues/151

[2015-10-27 23:30] #58 closed

[2015-11-19 12:57] MDBenson opened #64 "Can't Install 8.0 branch on Odoo 8.0 - requires 'crm_claim_type' but it's not available?"
I am trying to install 8.0 on my Odoo 8.0 test instance (clean, new database) and it seems to have an unresolved module dependency.

Procedure:

* Cloned fresh Odoo 8.0 into /opt/odoo
* Cloned fresh RMA 8.0 then copied:
    * crm_claim_categ_as_name
    * crm_rma_by_shop
    * crm_rma_stock_location
    * crm_claim_ext
    * crm_rma_location
    * crm_claim_rma
    * crm_rma_lot_mass_return
    *

[2015-11-20 20:22] osvalr commented on #64
@MDBenson `crm_claim_type` module can be found here [OCA/crm](https://github.com/OCA/crm/tree/8.0)

[2015-11-20 20:30] #64 closed

[2015-11-23 09:33] MDBenson commented on #64
Thanks for the update. Is there some structure for adding all OCA modules en-mass or do we just have to play dependency roulette? Might be worth mentioning dependencies in the README?

[2015-11-23 09:38] pedrobaeza commented on #64
They are usually mentioned in Installation section if they are not from the same repository, but there's no automatic script for resolving then. We are working in pip deployment with auto-dependency now, but there are some challenges to solve. You can look here for more info: https://github.com/OCA/maintainer-tools/pull/156.

For downloading all OCA branches (but there's a lot), you can use: https

[2015-11-23 10:38] MDBenson commented on #64
Okay, thanks. As the README for this repo (rma) is very minimal for the 8.0 branch, it was not stated as there is no Installation section in the README.

[2015-11-23 10:52] pedrobaeza commented on #64
I mean the README.rst of each module, not the repo one. Each module can be installed separately, so there's no sense to make a global dependency map by repo.

[2015-12-10 18:25] yaniaular opened #68 "The Picking Type for Returns of rma picking_type is wrong"
module: crm_rma_location
version: 8.0.1.0.0

**Steps to reproduce**
- Display the configuration of

RMA In Type
RMA Internal Type
RMA Out Type

**Current behavior**

![bad1](https://cloud.githubusercontent.com/assets/7602170/11724274/4501a174-9f45-11e5-95d8-c16e389b7f94.jpg)
![bad2](https://cloud.githubusercontent.com/assets/7602170/11724276/481112dc-9f45-11e5-89b0-80e64b556688.jpg)
![bad3](https:

[2015-12-10 18:30] yaniaular commented on #68
This is not bug. It is the expected result. My bad.

[2015-12-22 09:03] RoelAdriaans-B-informed opened #69 "[8.0] crm_rma_lot_mass_return gives javascript error on playAlert"
With crm_rma_lot_mass_return installed, adding products we get an error:

```ReferenceError: playAlert is not defined```

Linked to https://github.com/OCA/rma/blob/8.0/crm_rma_lot_mass_return/static/src/js/barcode_text.js#L67 and https://github.com/OCA/rma/blob/8.0/crm_rma_lot_mass_return/static/src/js/barcode_text.js#L84 ..

Tested with Firefox 43 on Linux, Chrome on Windows

[2016-01-28 14:45] RoelAdriaans commented on #69
Linked to https://github.com/OCA/rma/blob/8.0/crm_rma_lot_mass_return/templates/search_view.xml#L6

The file /crm_rma_lot_mass_return/static/lib/alert.js does not exist.

ping @osvalr , because you've committed this code, maybe left behind in a .gitignore?

[2016-01-28 15:12] osvalr commented on #69
@RoelAdriaans-B-informed I'm checking this out

[2016-01-28 15:37] osvalr commented on #69
@RoelAdriaans-B-informed as you pointed out `alert.js` was ignored by the `.gitignore` and it's necessary to allow this file allow `../static/lib` but maintain the rule for generic `/lib` as it's currently listed

[2016-01-28 15:41] RoelAdriaans commented on #69
@osvalr True, but you can to an git add -f <filename> to add the file, ignoring the gitignore file

[2016-01-28 16:14] osvalr commented on #69
@RoelAdriaans-B-informed but valid directories as `static/lib/` need be added without any forcing IMHO, please see OCA/maintainer-tools#173 and let me know your comments

[2016-02-17 14:49] gurneyalex commented on #69
https://github.com/OCA/maintainer-tools/pull/173 is now merged

[2016-02-17 14:51] gurneyalex commented on #69
The correct template gitignore file is https://github.com/OCA/maintainer-quality-tools/blob/master/sample_files/.gitignore though

[2016-03-17 14:40] BGEray opened #78 "Can't Install 8.0 branch on Odoo 8.0"
I can't Install 8.0 branch on Odoo 8.0，an error occured below：
2016-03-17 22:38:38,901 8312 ERROR new2 openerp.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "D:\Odoo\odoo-9.0c-20160107\openerp\http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "D:\Odoo\odoo-9.0c-20160107\openerp\http.py", line 6

[2016-03-17 20:16] osvalr commented on #78
Hi @BGEray, can you specify the details about how to reproduce it? HINT: you can use [this template](https://github.com/OCA/rma/issues/new?body=module:%20What module?%0Aversion:%20 What branch?%0A%0A**Steps%20to%20reproduce**%0A-%20...%0A%0A**Current%20behavior**%0A%0A**Expected%20behavior**)

[2016-03-22 05:36] BGEray commented on #78
module:crm_claim_ext
version:8.0
just click install button,then an error occured:
Traceback (most recent call last):
  File "D:\Odoo\odoo-8.0-20151109\openerp\http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "D:\Odoo\odoo-8.0-20151109\openerp\http.py", line 574, in dispatch
    result = self._call_function(*_self.params)
  File "D:\Od

[2016-03-23 14:44] krijn1981 opened #79 "Work flow"
Hey guys,

Is there a roadmap for this collection of RMA modules.
We just installed it and trying to follow of it.
But we are stuck on the state change of the claim lines.

Perhaps we are making a proces flow error...
I already saw the short flow description in readme file, but that is to short for a complete following of the process.

Thanks in advance..

[2016-04-07 12:16] mdietrichc2c commented on #54
For information, our team is starting to migrate `crm_claim_rma`, `crm_rma_stock_location`, `crm_claim_rma` and `product_warranty` (as well as `crm_claim_code` and `crm_claim_type` in the OCA/crm branch).

[2016-04-07 12:19] pedrobaeza commented on #54
Cool, I assigned you in the issue.

[2016-04-21 14:45] cyrilgdn commented on #54
PR for product_warranty: #81

[2016-04-29 14:19] RoelAdriaans commented on #69
Thanks for the merge @gurneyalex
.gitignore is now updated, and file can be added cleanly.

[2016-05-03 14:12] cyrilgdn commented on #54
PR for crm_claim_rma_code: #85

[2016-05-03 14:17] yvaucher commented on #54
@cyrilgdn Thanks I added your PR

[2016-05-04 14:36] RoelAdriaans commented on #69
Fixed with the merging of #75

[2016-05-04 14:36] #69 closed

[2016-05-09 11:42] cyrilgdn commented on #54
PR for crm_claim_rma: #86

[2016-05-11 11:43] cyrilgdn commented on #54
PR for crm_rma_stock_location: https://github.com/OCA/rma/pull/87/

[2016-05-11 11:45] nhomar commented on #54
Nice.

Pllease this are base modules for a lot of things on our end, if you will change functionally some approach document properly.

Regards.

[2016-09-06 10:24] levkar opened #94 "[8.0 BUG] Group claim lines by invoice"
This gives an error since there is no invoice_id column in this model.

[2016-09-08 10:25] zhangshunrao opened #95 "odoo8.0 rma crm.clain model 'invoice_id' field doubt"
question: crm.clain model invoice_id field is disappeared, so I find crm_claim.crm_case_claims_form_view find  the following:

source code: '<field name="invoice_id" domain="['|',('commercial_partner_id','=',partner_id),('partner_id','=',partner_id)]" context="{'create_lines': True}"/>'

conclusion: comply with the domain is not shown

[2016-09-09 13:32] marcverspeek commented on #79
Any progress Krijn? We have the same question. We do not succeed to change the status of a claim line.

[2016-09-28 15:31] bealdav opened #97 "WIP RMA"
## Impacted versions:
## Steps to reproduce:
## Current behavior:
## Expected behavior:

[2016-09-30 10:07] ccandito opened #98 "short dump in asking new refund"
when asking new refund in Clain management module without entering vendor bill reference, a short dump has occurred.
here's attached the related script.
I suppose this exception has not yet handled so a check with error message to forbid to go further should be implemented.
Regards
claudio candito
[short dump.txt](https://github.com/OCA/rma/files/502631/short.dump.txt)

[2016-09-30 10:53] ccandito opened #99 "missing functionalities in vendor claim management"
in case of vendor claim should be possible:
1) to enter the claim reference in asking refund form (credit memo) so this is collected in the claim form;
2) change the qty in product returns for partial return delivery back to the vendor
3) close the status of the related claim line
Regards
claudio candito

[2016-10-06 13:22] ccandito commented on #99
Dear All,
for the sake of clarity, I'd provide more exhaustive description:
1) the credit memo form should be enhanced with the same feature in goods movements, i.d. the possibility to enter the claim reference; in that way the credit memo created out of the claim form can be collected in the claim form.
2) the claim line qty could be changeable so partial return can be managed also
3) how it is p

[2016-10-06 14:07] pedrobaeza opened #100 "Migration to version 10.0"
# Todo
https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0

# Dependencies

https://github.com/OCA/crm/issues/117
* crm_claim
* crm_claim_code
* crm_claim_type

# Modules to migrate
- [x] product_warranty - By @bimajatiwijaya - #115
- [x] crm_rma_location - By @bimajatiwijaya - #114
- [x] crm_claim_rma_code - By @bodedra - #126
- [x] crm_claim_rma - By @max3903  - #128
- [ ] crm

[2016-10-27 16:11] willdz commented on #79
Any luck with this? I am in the same situation.

[2016-11-08 19:46] willdz commented on #100
Hi

How can I help to make this module installable on Odoo 10.0 Community ?

[2016-11-09 00:29] pedrobaeza commented on #100
Well, you can migrate the modules and propose PRs with them: https://odoo-community.org/page/Contribute

[2016-12-02 12:32] rubencabrera commented on #97
Is this an RMA workflow to handle software (or software like) bugs?

[2016-12-02 12:35] rubencabrera commented on #79
I am interested in this too, it seems like things are **almost** there but lacking some minor changes. I'm working on it, so if you find anything for the basic workflow, mention me and I'll try.

[2016-12-02 12:43] rubencabrera opened #104 "Invoice not registered in odoo"
How can we handle a RMA for a product sold before a migration to odoo?
Suppose a company has serial numbers in odoo, but not invoices. The "Product Returns" list is not editable ( <tree string="Returned lines" create="false"> ). To add a line we must select an invoice.

I'll be trying to remove the create="false" attribute and process the RMA from there, but maybe I'm missing something.

[2016-12-02 16:45] #97 closed

[2016-12-12 08:57] rubencabrera commented on #104
Should this be a new module inheriting from crm_claim_rma or should I make a PR with the changes to allow claims without an invoice from crm_claim_rma?

[2017-01-23 12:19] rubencabrera commented on #99
About (2), I'm always getting qty = 0 for every return line. The same happens for Unit sale price and Total Return (return_value).
Is this happening to you too?

[2017-01-27 17:23] aitorbouzas commented on #79
Is there anyone using succesfully the RMA modules? I'm also stuck on the change of state in the claim lines...

[2017-01-27 17:28] aitorbouzas commented on #79
Maybe I can contribute in something.

I saw that the product_returned_quantity in the claim line is always 0.0... As I see into my crm_claim_rma/crm_claim.py file at line 135:

`'product_returned_quantity': invoice_line.quantity,`

It should have the same value as in the invoice line, but it's not!

[2017-02-07 10:42] rubencabrera commented on #79
Hi, @Softdil , please check the PR #103 , it works for me on the issue you are mentioning.

[2017-02-23 12:27] PieterPaulussen opened #108 "Wrong dependency for crm_claim_type"
In the module crm_claim_rma_code there is a dependency to crm_claim_type. However, this module is not present in the repo.

[2017-02-25 20:46] davinci41 commented on #108
Uncaught Error: Nieznane pole claim_type w domenie ["|",["partner_id","=",false],["claim_type","in",["customer","other"]]]
odoo 8. please

[2017-02-26 06:40] andhit-r commented on #108
Hi @PieterPaulussen crm_claim_type module avalaible on [OCA/crm repo](https://github.com/OCA/crm)

[2017-02-26 12:58] davinci41 commented on #108
Bug is in claim, can`t create new claim.
http://prnt.sc/edjv20

[2017-02-27 04:34] andhit-r commented on #108
Hi @davinci41 , you should create new issue since your problem different from original question.

[2017-02-27 15:39] PieterPaulussen commented on #108
@andhit-r Thanks, will check it out!

[2017-03-05 18:37] davinci41 opened #109 "Unknown field claim_type in domain"
Uncaught Error: Unknown field claim_type in domain ["|",["partner_id","=",false],["claim_type","in",["customer","other"]]]

Bug is in claim, can`t create new claim.
http://prnt.sc/edjv20
odoo 8. please

[2017-03-14 10:40] aitorbouzas commented on #99
@ccandito agree with this post. There's no way this module can be used properly... You can't change line status, the product_returned_quantity is always zero...

@rubencabrera Yes, this is happening to everyone. I found that if you place the "product_returned_quantity" in the tree view of the crm.claim form it is correctly filled... But it doesn't matter because there's no functionality to use lin

[2017-03-14 10:52] JordiBForgeFlow commented on #99
Hi! We are completely redesigning the rma app. In a few days we will create a PR and webinars to discuss.

cc @aheficent

[2017-03-16 16:29] AaronHForgeFlow opened #111 "[RFC][9.0]RMA"
# Introduction

The purpose of this RFC is to define the design for a RMA tool in Odoo. A beta version can be found in the PR https://github.com/OCA/rma/pull/110

## Why change the existing approach used in 7.0 and 8.0?
- Claims were designed for tracking customer claims and grievances not for a RMA process. Adding an RMA functionality to the claims makes it impossible to use claims for other proc

[2017-03-16 16:55] JordiBForgeFlow commented on #111
cc @nhomar You might be interested in this!

[2017-03-16 17:24] rubencabrera commented on #111
This seems like a good approach. Given the state of development for 8.0 and its many issues, do you think this should be backported?

[2017-03-16 17:28] JordiBForgeFlow commented on #111
@rubencabrera Not sure. That may need to be discussed. Our aim now is to work on 9.0 and 10.0

[2017-03-20 16:06] rubencabrera commented on #111
@jbeficent Our team is working on some fixes for version 8.0, that's why we wonder if it's a good idea to backport your PR or better try to keep the crm_claim approach. I'll leave that open to suggestions while we keep on the current development.

[2017-03-22 08:04] jgrandguillaume commented on #111
Hi there,

Just to mention that I'll support @aheficent proposition here. Very good move !

Regards,

Joël

P.S.  @jbaudoux I think we should move on this one as well for our common customer ;)

[2017-05-02 19:07] rgeromegnace commented on #100
Hello,

Do you progress in the migration to odoo 10?
I would like to use this module.

Regards,

[2017-05-24 03:58] bimajatiwijaya commented on #100
Hello @rgeromegnace ,
Now i working on it. i will finish it asap.
crm_rma_location : [#114](https://github.com/OCA/rma/pull/114)

[2017-05-30 09:32] bimajatiwijaya commented on #100
PR #115 product_warranty created.

[2017-08-31 09:20] pedrobaeza commented on #29
I think this is unrelated to this repository (as it talks about Magento). I close.

[2017-08-31 09:20] #29 closed

[2017-09-11 14:51] #108 closed

[2017-09-11 14:53] #68 closed

[2017-10-03 14:56] pedrobaeza opened #123 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Dependencies

https://github.com/OCA/crm/issues/179

- [x] crm_claim
- [ ] crm_claim_code

# Modules to migrate

- [x] product_warranty + #137 - By @osi-scampbell - in #139
- [ ] crm_claim_categ_as_name
- [ ] crm_claim_ext
- [ ] crm_claim_rma
- [ ] crm_claim_rma_code - By @larmar - #129
- [ ] crm_rma_advance_location

[2017-10-05 13:27] bodedra commented on #100
PR #126 for crm_claim_rma_code.

[2017-10-06 09:47] max3903 opened #127 "Roadmap"
* Support service products
* Integrate Vendor RMA
* Repair/Replace on site
* Carrier integration (label)
* Support different responsibilities distributions
* Instructions
* POS integration
* Refurbished product (replaced by another product)
* Flexible process/steps
* RMA Portal
* Script for CSR calls
* Quality integration / Problems
* Reporting

[2017-10-07 10:13] pedrobaeza commented on #127
Very good roadmap. Do you have code already for this?

[2017-10-10 15:13] max3903 commented on #127
@pedrobaeza Nope. These are the ideas collected at the end of my Odoo Experience presentation.

[2017-10-10 15:14] pedrobaeza commented on #127
OK, let's see if there are volunteers for implementing this roadmap.

[2017-10-13 10:59] LoisRForgeFlow commented on #127
We have some implementation regarding some of these points:

* Problem tracking and QC integration: https://github.com/OCA/manufacture/pull/199
* Refurbishing: https://github.com/OCA/manufacture/pull/225

However we use a different base rma implamentation, you can have a look at: https://github.com/eficent/stock-rma I think we have addressed with it also the following points of your list:

* Integ

[2018-05-04 12:43] #104 closed

[2018-09-27 00:14] OCA-git-bot opened #135 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] crm_claim_rma
- [x] product_warranty - By @murtuzasaleh - #142
- [x] stock_production_lot_warranty - By @murtuzasaleh - #143

[2018-12-17 18:53] max3903 opened #137 "[MIG] product_warranty 11.0.1.0.0"
Hello,

Did I miss something or there is no more product warranty field on the product template in version 11?

Thanks

# Todo
- [x] Migrate product_warranty to version 11
- [x] Add a float field "Warranty" (warranty) on the product template
- [x] Add a selection field "Warranty Type" (warranty_type) on the product template with: Day(s), Week(s), Month(s), Year(s)

[2018-12-17 20:30] max3903 opened #138 "stock_production_lot_warranty 11.0.1.0.0"
Depends on product_warranty and stock
License: AGPL-3

# Module Description
Odoo does not provide the warranty information on the serial number of a product.

This module allows you to compute the warranty expiration date of a serialized product based on the warranty duration.

# Configuration
* Go to Inventory > Configuration > Settings
* Activate the traceability
* Go to Inventory > Master Data

[2018-12-18 08:57] rousseldenis commented on #137
Yes !
https://github.com/odoo/odoo/commit/10eee18a047d35305dc46282e610e88936d81ffc#diff-7525de0c57e690342ed3108fc9dcc8c2

[2018-12-18 13:24] max3903 commented on #137
@rousseldenis Thank you.

[2018-12-29 01:55] emagdalenaC2i commented on #123
@pedrobaeza There is a PR for the migration of crm_rma_location - By @pragyachhabra - #130

There is a PR for the migration of crm_claim_rma - By @max3903  - #128

[2019-01-15 15:45] #138 closed

[2019-01-15 15:45] #137 closed

[2019-01-20 17:02] lukebranch commented on #127
I've had a request for a feature for an RMA flow where the customer may send back a single part/component of an assembled product (in this case a drone), where a single part may have a fault and require a replacement/repair/different product.

Before starting any work on it though, is this a feature that anyone else has already built (or has on a roadmap), or is interested in?

[2019-06-01 21:25] emagdalenaC2i commented on #123
@pedrobaeza the PR #128 is for v10.0 sorry, my fault

[2019-06-28 16:35] sbidoul opened #144 "10.0 is red due to duplicate messages in product_warranty/i18n/es.po"
https://travis-ci.org/OCA/rma/jobs/550559350#L1532-L1563

[2019-09-29 21:45] OCA-git-bot opened #146 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] minor - By @chienandalu - #262
- [x] product_warranty - By @ernestotejeda - #180
- [x] rma - By @ernestotejeda - #177
- [x] rma_sale - By @ernestotejeda - #178
- [ ] rma_sale_mrp - By @chienandalu - #220
- [ ] stock_production_lot_warranty
- [ ] website_rma - By @ernestotejeda - #188

Missin

[2019-10-30 13:02] adamwojt opened #147 "wrong field name in `_refund_cleanup_lines` patch method"
There is mistake [here](https://github.com/OCA/rma/blob/f0656eb39c55081eff52ad502a0a1deb648b0822/crm_claim_rma/models/account_invoice.py#L42) that causes that `invoice_line_tax_ids` are not appended resulting in incorrect tax for refund invoice.

`invoice_line_tax_id` should be `invoice_line_tax_ids`

[Odoo 10.0 account.invoice.line](https://github.com/odoo/odoo/blob/91807404e7d5c314ea30926b44bd16

[2019-10-30 19:03] pedrobaeza commented on #147
Can you please do the PR? https://odoo-community.org/page/Contribute

[2019-10-30 19:25] adamwojt commented on #147
Hey @pedrobaeza . Sure we will, we are reworking this method at the moment.

We have better approach for patching this using index to update values from super and not copy/pasting original Odoo method as there are problems with current approach for example:

- `MAGIC_COLUMNS` are not excluded like in [original method](https://github.com/odoo/odoo/blob/91807404e7d5c314ea30926b44bd16e878417ec1/addon

[2019-10-30 19:27] pedrobaeza commented on #147
OK, great. The code for this module can be very ugly, so any improvement is welcome. NOTE: I'm not a user of this module nor proper reviewer for it, but general community manager for this kind of kick-off.

[2019-11-18 09:21] Fazryan commented on #135
Up

[2020-04-01 14:07] mtbochaca opened #152 "RMA 10 not in Weblate"
RMA in branch 10 not in https://translation.odoo-community.org/
It's not possible to translate it.

[2020-05-23 13:31] sudeshhshetty opened #154 "crm_claim"
I am getting below error when installing crm_clain app:

Odoo Server Error
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(excep

[2020-06-24 13:26] rafaelbn opened #155 "Set v12 as default branch for https://github.com/OCA/rma"
Dear RMA PSCs codul any one set branch v12 as default in thie repo please? Thank you! :smile:

[2020-06-24 19:52] rousseldenis commented on #155
@rafaelbn Done. But why not making 13 as default ?

[2020-06-24 19:52] #155 closed

[2020-10-04 10:34] OCA-git-bot opened #169 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] rma - By @chafique-delli - #189
- [ ] rma_sale
- [x] website_rma - By @iwkse - #244

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2020-10-06 15:08] #111 closed

[2020-12-10 15:07] chafique-delli commented on #169
rma here https://github.com/OCA/rma/pull/189

[2020-12-10 17:03] chafique-delli commented on #169
rma_sale: https://github.com/OCA/rma/pull/190

[2021-01-08 12:47] tarbib opened #195 "[12.0] Shipping created with replacement will not reserve stock (while there are goods in stock)"
Hello,

Tested both on runbot and clean installation on odoo.sh.
Steps to reproduce :

1. Create a SO1 for product 1
2. Deliver product 1
3. Create an RMA for SO1
4. Receive back product 1
5. Replace product 1 with product 2 (with stock in WH/Stock)
6. A delivery order is created
7. Click on "check availability"
8. It does not reserve product 2

See video

https://user-images.githubusercontent.com

[2021-01-15 09:15] Webimtech opened #196 "[13.0] website_rma: Error on website contact form page."
Hi,

I got a problem once I installed the module website_rma on the website contact form.
Odoo support specialist seems confirm that the module is interfering with the form. . By uninstalling it, the page "contact" works well!

![rma](https://user-images.githubusercontent.com/66035639/104705272-ff107680-5719-11eb-819b-b52bfd4f4c4d.png)

Thank you for checking this point.

Regards

[2021-02-13 09:25] mfaheemkhan6 opened #204 "Multiple Products from Sale Order in Single RMA"
module: rma_sale
version: 13.0

**Steps to reproduce**
Open any sale order, create RMA for multiple products. It will create a separate RMA for each order line.
- ...

**Current behavior**
When we create RMA from the sale order, it is creating a separate RMA for each product in the sale order.
**Expected behavior**
In a sale order, If one has 100 order lines, he has to handle 100 RMA and process 1

[2021-02-13 09:41] pedrobaeza commented on #204
This is not how it has been designed by several reasons. You can select all RMAs and select them to be refunded from the list view though.

[2021-02-13 09:41] #204 closed

[2021-03-12 18:07] florian-dacosta opened #210 "[RFC] RMA with no product return from customer"
Hello,

I am starting to have a look at these modules to see how they can replace the old rma modules we had in older versions.
I have one main issue regarding the workflow.

From what I saw, it is mandatory to first receive the goods before going further in the process.
In my experience, it is not always the case. Depending on the firm, sometimes a replacement product may be sent without the cust

[2021-03-12 18:18] florian-dacosta opened #211 "[RFC] Grouped deliveries for RMAs"
The need to have multiple RMAs grouped into a single document is questionable, I am not sure yet if it will be a blocking point for some customers, but I believe it is an issue at least on the warehouse point of view.

For instance if you create multiple RMAs from one sale order because you have to receive and replace multiple products,
I guess you may be able to process it in batch with the repla

[2021-03-15 15:31] chienandalu commented on #210
Hi, @florian-dacosta

I think you could play with locations in order to achieve these requirements.

In this case, you could make a sort of scrap location hanging from the RMA one. This way, you're scrapping the product from the customer location and then replacing it for another unit in your warehouse, wich is is indeed what is happening.

You can play with locations and rules in order to make mo

[2021-03-19 11:35] florian-dacosta commented on #210
Hello @chienandalu
Thanks for the hint.
Indeed, it could be kind of a workaround, but still, it adds quite a lot of steps, for something useless in that case.
If the product is not really returned, the user won't want to do the whole reception process in order to do a replacement.
He won't understand it and it would be time consuming
Mostly if it is a common case or the most common case in the fir

[2021-03-19 12:28] chienandalu commented on #210
In that case, I would add a check like "Scrap in customer location" that would do the thing. We should avoid showing the option for return to customer. Maybe an extra scrapped state to manage it?

[2021-04-27 14:42] florian-dacosta commented on #210
@chienandalu

I am not sure I get your idea with the "scrap in customer location" stuff.
But, I dug a bit more into the rma module, and it seems to me we could quite easily manage both cases (process with and without reception from customer).

The idea would be to
- Add a configuration at company level so RMA manages or not the reception step by default.
- Allow to modify the default value directl

[2021-04-27 14:47] pedrobaeza commented on #210
I prefer to have the granularity per RMA, not per company (although you can set a default per company).

[2021-04-27 14:59] florian-dacosta commented on #210
Yes, that is the idea, with computed (but editable) field https://github.com/akretion/rma/commit/f6014fe8e9c06d7c5f454495c00448689b32eb98#diff-3d6f82bd3aa96a98f1dd5cd6389cb926247243353dda39dc5bbf9924b53c98cbR30)
Indeed, I my cases, the company usually do not ask the customer to return the product, but it does in some rare case. I also think it has to be possible to choose per RMA.
I've changed a b

[2021-04-27 15:10] pedrobaeza commented on #210
Great then. I think that can be. @chienandalu your last call.

[2021-04-27 15:57] chienandalu commented on #210
Ok, let's see that in an PR :+1:

[2021-04-27 15:58] florian-dacosta commented on #210
Nice, I'll do a complete PR in the next few days, thanks for the feedback

[2021-05-08 23:06] sergioeix commented on #211
+1 @florian-dacosta i think this will be great, to group all the lines on the same rma instead to have a single rma by line.

[2021-05-08 23:11] pedrobaeza commented on #211
This was done on purpose as a design principle, as:

1. It's not usual to return a lot of things at the same time.
2. Even in that case, each product/unit may have a different treatment (repair, refund, change...), so grouping them at that level will mean to need to handle 2 levels of things with a lot of information and duplication in both.
3. You already have the tools to refund/return in batch,

[2021-05-09 08:48] florian-dacosta commented on #211
I don't really agree, I have multiple customers who receive multiple products at once, and have the same treatment.
But anyway, from the design, I don't see an easy way to group multiple RMA in one.

But, the main issue for me, is really about delivery, you can process all products one by one at RMA level, but when delivering, you do not want to send multiple pack to customer if you return/replace

[2021-05-09 09:45] pedrobaeza commented on #211
But you already have that in current module. You just need to select all of the RMAs in the list, and click on Action > Return/Refund for doing them grouped. Have you tried?

[2021-05-10 15:07] sergioeix commented on #211
I got  your point @pedrobaeza

but when you have to return a sale order with 5 lines or more (in some companies its more usual than you think to have this kind of returns), then you have to do the 5 receipts manually (this case is even worse if you use lots), i think the receipt can be the same for the 5 rma´s of the same order if done at the same time, and keep the isolated treatment you said at

[2021-05-10 15:08] pedrobaeza commented on #211
AFAIK, you are able to also do the receipt all together with the same technique.

[2021-05-10 15:10] sergioeix commented on #211
I think it cant be done, and with lots i am sure that it cant be done.

[2021-05-10 15:11] pedrobaeza commented on #211
I'm talking about generating one single reception picking, that is covered by the module.

[2021-05-10 15:21] sergioeix commented on #211
Let me explain the case, steps to reproduce on runbot:
1 - create sale order with 3 lines and do the delivery
2 - create rma from rma button on sale order
3 - 3 rma are created and 3 diferent receipts are created
spected behaivor
3 rma should be created but only 1 receipt should be created

if its not clear i can make a video, as i said it only happens from rma button on sale order, if you try to

[2021-05-10 15:31] pedrobaeza commented on #211
Then that seems a bug. @chienandalu can you take a look?

[2021-05-11 07:50] chienandalu commented on #211
I'll do. You can assign me

[2021-05-12 14:42] sergioeix opened #224 "[13] Community - Backorder issue with RMA module"
When rma is installed the backorder flow its not working as it should be, if you chose to not create backorder the backorder is still created.
Steps to reproduce on runbot:
1 create a sale order with 5 und of storable product
2 go to the delivery and set 2 und as done and validate
3 on the back order wizard chose no backorder
Result --> backorder is created
spected result --> no backorder should b

[2021-05-14 10:06] florian-dacosta commented on #211
From what I see, the reception is always one picking per RMA.
The action in mass do not allow replacement not confirmation for now also if we really want to manage RMA per group, it is not really user friendly.
The module I may intend to do would be to also to improve the usability.
Maybe a smart button to check all RMA from a same (procurement) group, to be able to do this without always filterin

[2021-06-04 07:11] chienandalu commented on #210
Any news @florian-dacosta ?

[2021-06-04 08:29] florian-dacosta commented on #210
Well, I was a bit optimist in my previsions! I still plan to do it, but it is not yet very urgent and I was kind of waiting the 14.0 PR to be cleaned/ready before proposing a PR on top of it.

[2021-06-19 09:31] sergioeix commented on #224
hi guys how its going on here? any new about this issue?? and #211
B/R

[2021-07-05 11:43] sergioeix commented on #211
About this issue i want to mention that it only happen with rma_sale when you try to create rma from RMA button on sale order.
The same way if you try to create rma from website (from a sale order with 3 lines as example) the created rmas (one for each line) on backend are created as draft and cant be confirmed on block at the same time, so if you try to confirm each rma one by one a single pickin

[2021-08-26 15:30] marcgendron-dyze opened #236 "[12.0] Problem when creating a return to customer"
When I click on the button `Return to customer`, I choose a date, then I click on `Deliver`, it sends a python error. I don't understand why the `date_expected` is readonly. The `move_form` is in draft (I logged it just before the error) so It should not be read-only.  Does any one had the same issue?

![image](https://user-images.githubusercontent.com/60106800/130991259-baf0e0bd-ea47-4edc-b715-b6

[2021-08-27 05:13] chienandalu commented on #236
Hi, @marcgendron-dyze . Can you reproduce the error on a runbot a give some complete steps to reproduce it?

[2021-08-27 14:24] marcgendron-dyze commented on #236
@chienandalu  I just tried on the run but. It does not the error. So it must be something in conflict on my installation. I will continue ton investigate, but I'm new on odoo, and I have a hard time to understand why I get this error. The declaration in stock\model\stock_move.py seams to say that it should only be readonly if the state is Done. I verified the state and its 'draft'.  If you have an

[2021-08-27 16:43] pedrobaeza commented on #236
Closing meanwhile there's no steps to reproduce it.

[2021-08-27 16:43] #236 closed, assigned to nobody

[2021-10-17 10:21] OCA-git-bot opened #240 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] product_warranty - By @SilvioC2C - #273
- [x] rma - By @nikolausweingartmair - #294
- [x] rma_sale - By @Alex-Vining - #309
- [x] website_rma - By @nikolausweingartmair - #297

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-lis

[2021-10-22 17:01] matteoopenf opened #242 "[13.0] rma_sale translation"
I'd like make a translation for italian language, but I can't create new translation
![image](https://user-images.githubusercontent.com/43987335/138494682-628f2fce-af70-409b-a448-43999c188a29.png)

Someone can help me to create the translation?

[2021-10-25 07:19] matteoopenf commented on #242
@OCA/community-maintainers  can you help me please?
Thanks in advanced

[2021-10-25 07:20] pedrobaeza commented on #242
https://odoo-community.org/page/translate

[2021-10-25 07:20] #242 closed, assigned to nobody

[2021-10-25 07:25] matteoopenf commented on #242
Thanks

[2021-11-11 02:29] matthew798 opened #245 "App RMA causes tests in sale_stock to fail during build"
## Module
app RMA

## Describe the bug
After downloading V13 from [here](https://odoo-community.org/shop/product/app-rma-3326#attr=8968), the folder is placed in a DEV branch and pushed to an odoo sh instance. The build fails because a test in the sale_stock module fails.

## To Reproduce
**Affected versions**: V13

Steps to reproduce the behavior:
1. Create DEV branch with RMA app (v13) and uploa

[2021-11-11 06:07] pedrobaeza commented on #245
This module is no way changing anything related to that, so the problem should be another. Closing as no valid issue.

[2021-11-11 06:07] #245 closed

[2021-11-15 01:05] matthew798 commented on #245
@pedrobaeza So i did some testing and removing sale_order_line_date fixes the problem. However, it is the _comibination_ of sale_order_line_date and rma that causes the issue, both work fine on their own...

[2021-11-27 17:45] dreispt opened #246 "[13.0] website_rma: The license AGPL-3 conflicts with one of its dependencies."
Error on Odoo App store:

[2021-11-27 17:46] dreispt opened #247 "[13.0] rma_sale: The license AGPL-3 conflicts with one of its dependencies."
Error on Odoo app store:

[2021-11-29 08:45] pedrobaeza commented on #247
I think `rma` is registered by other repository, and thus the error, as OCA's `rma` is also AGPL-3.

[2022-03-13 12:19] #15 closed

[2022-03-13 12:19] #20 closed

[2022-03-13 12:19] #25 closed

[2022-03-13 12:19] #28 closed

[2022-03-13 12:19] #54 closed

[2022-03-13 12:19] #78 closed

[2022-03-13 12:19] #79 closed

[2022-03-13 12:19] #94 closed

[2022-03-20 12:18] #95 closed

[2022-03-20 12:18] #98 closed

[2022-03-20 12:18] #99 closed

[2022-03-20 12:19] #100 closed

[2022-03-27 12:19] #109 closed

[2022-04-03 12:20] #123 closed

[2022-04-04 17:23] SicurSam opened #265 "[14.0] Permission error on rma_sale module"
I try to create a RMA from Order with an user without administrator permission, it is not possible beacause i receive an error, it would seem a permissions error within the module rma_sale.
If I set the "Manager" or "User: All documents" permission on the user I get this error when I try to create an RMA:

"You are not allowed to access 'Action Window' (ir.actions.act window) records.
This operati

[2022-04-21 12:32] #265 closed

[2022-04-24 12:20] #127 closed

[2022-05-01 12:22] #135 closed

[2022-05-03 10:56] francesco-ooops opened #268 "[RFC] 14.0 rma_sale: questions about quantities"
Hi, I noticed two behaviors I'm unsure about:

1) RMA from SO for more products than those ordered

STEPS TO REPRODUCE
- create SO with deliverable products > confirm > validate picking
- back in SO: create RMA > input in popup a quantity higher than the one displayed >accept

CURRENT BEHAVIOR
RMA is created for qty inputted

REQUIRED BEHAVIOR
Is there a scenario where user would willfully create

[2022-05-03 11:45] pedrobaeza commented on #268
Always indicate Odoo version, and both behavior were not allowed back in v12/v13 where we created it.

[2022-05-03 11:54] francesco-ooops commented on #268
Thank you, you're right! @ernestotejeda do you think it's an intended change or something lost in migration? Shall we fix v.14?

[2022-05-03 15:13] francesco-ooops commented on #268
Hmm, I see that behavior is currently the same in v.13 (user can create RMAs in SO for qty > ordered/delivered qty). I just think a warning can be a good compromise rather than blocking the action for user

[2022-05-08 12:21] #144 closed

[2022-05-08 13:20] pedrobaeza commented on #196
Fixed already.

[2022-05-08 13:20] #196 closed

[2022-05-15 12:24] #146 closed

[2022-05-15 12:24] #147 closed

[2022-05-16 08:30] victoralmau commented on #224
Hello, reviewing this use case, the current operation is correct, right?

![rma-13](https://user-images.githubusercontent.com/4117568/168551576-013496f7-e7e8-48e0-a92a-98cc341efedf.gif)

[2022-05-16 08:48] sergioeix commented on #224
yes

[2022-05-22 12:22] #152 closed

[2022-05-27 08:31] victoralmau commented on #224
Ok, we can close this issue.

[2022-05-27 08:32] #224 closed

[2022-05-29 12:25] pedrobaeza commented on #246
Same reasoning as #247

[2022-05-29 12:25] #246 closed

[2022-06-05 12:20] #154 closed

[2022-06-12 12:20] #195 closed

[2022-06-19 12:21] #210 closed

[2022-06-19 12:21] #211 closed

[2022-06-26 12:21] #169 closed

[2022-07-03 12:21] #247 closed

[2022-08-03 11:08] FranciscoBigWings opened #289 "[13.0] RMA refund amount error when the product price has a discount"
Error
When using the refund button from RMA which origin is a saleorder that includes a product with a discount, the originated rectified invoice uses the price_unit from sale.order.line and not the price_unit minus the discount

I have reproduced it in 13.0

Steps to reproduce the behavior:
1. Create a saleorder with  aproduct with a discount on the price and create an invoice
2. Create an RMA fi

[2022-09-01 09:58] victoralmau commented on #289
This works fine with `rma_sale`

![rma-13](https://user-images.githubusercontent.com/4117568/187887349-902ffff2-9cee-42d1-9de1-82f41fc60967.gif)

[2022-09-01 14:42] FranciscoBigWings commented on #289
Indeed, it works well then, after testing with the module installed everything is correct.

rma_sale is needed for taking in account discounts while doing a refund through rma

[2022-09-01 14:43] #289 closed

[2022-09-05 11:18] Freni-OSI opened #304 "[14.0]RMA: Access error for user without settings"
## Module
RMA
## Describe the bug
access error in ir.actions.act_window error for the user without settings.

Steps to reproduce the behavior:
1. Create an RMA and create a receipt.
2. Log in as a user who doesn't have settings permissions and try to open the receipt, the error will show.
![rma](https://user-images.githubusercontent.com/77103376/188436776-d6c1a79e-cde0-4e3d-a000-497e74c145f2.png)

[2022-09-05 12:49] #304 closed

[2022-09-19 13:28] Alex-Vining opened #307 "Cant create RMAs for products in a phantom BoM."
## Module
rma

## Describe the bug
Whenever you try to confirm a rma with a product that has a ```mrp.bom``` with the type of 'kit' an error is raised. I think this is because phantom BoMs will break out 1 ```stock.move``` record into multiple ```stock.move``` records when they are confirmed.

## To Reproduce
**Affected versions**: Odoo 15.0

Steps to reproduce the behavior:
1. Install mrp & rma
2

[2022-09-19 15:11] pedrobaeza commented on #307
This module should be migrated: https://github.com/OCA/rma/tree/14.0/rma_sale_mrp

[2022-09-19 15:11] #307 closed

[2022-10-01 17:40] #240 closed

[2022-10-03 16:27] sbidoul opened #314 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] product_warranty
- [ ] rma
- [ ] rma_sale
- [ ] stock_production_lot_warranty
- [ ] website_rma

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2022-11-29 06:11] imarulbala commented on #314
Migration to version 16.0

- product_warranty https://github.com/OCA/rma/pull/323